* {
	margin: 0em; 
	padding: 0;
	box-sizing: border-box;
	line-height:1.25em;
}

#pagewidth {
	width: 1240px;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px; 
	background: white;
}

.navigationbar {
	height: 299px;
	width: auto;
}

.navigationbar:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.logo {
	float: left;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
	width: 125px;
	text-align: center;
	margin: 20px 20px 0px 20px;
}

a {
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}

hr {
  border-style: solid;
  border-color: red;
}

.hero {
	float: left;
	width: 50%;
	image-rendering: cover;
}

.mary {
	float: right;
	width: 50%;
	image-rendering: cover;
}

.david {
	float: left;
	width: 50%;
	image-rendering: cover;
}

.leo {
	float: right;
	width: 50%;
	image-rendering: cover;
}

.column2 {
	width: 50%;
	height: 496px;
	text-align: left;
	background-color: dimgray;
	padding: 30px;
	overflow: hidden;
}

.column2:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.clear {
  	clear: both;
}

.column3 {
  	background-color: pink;
	width: 50%;
	height: 497px;
	text-align: left;
	padding: 30px;
	overflow: hidden;
}

.column3:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.column4 {
  	background-color: green;
	width: 50%;
	height: 501px;
	text-align: left;
	padding: 30px;
	overflow: hidden; 
}

.column4:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.column5 {
  	background-color: blue;
	width: 50%;
	height: 496px;
	text-align: left;
	padding: 30px; 
	overflow: hidden;
}

.column5:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.heroheadline { 
    color: #fff; 
    font-style: bold;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    line-height:1.25em;
}

h1 { 
    color: #fff; 
    font-style: italic;
    font-family: 'Playfair Display', serif;
    Font-size: 28px;
    line-height:1.25em;
    padding: 20px;
}

h2 { 
    color: #fff; 
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px; 
}

h3 { 
    color: #fff; 
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
}

h4 { 
    color: white; 
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
}

h5 { 
    color: gray; 
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
}

p { 
    color: #fff; 
    font-family: 'Source Sans Pro', sans-serif;
}

.signupbar {
 	background-color: lightblue;
	height: 120px;
	text-align: center;
	overflow: hidden;
}

.signupbar:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.readmore {
 	color: white; 
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
}

.footerbar {
	width: 1240px;
	height: 120px;
	margin: 0 auto; 
	text-align: left;
	vertical-align: text-top;
	overflow: hidden;
	background-color: white;
	padding: 20px;
}


.footerbar:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
