#navigation {
	display: inline-block;
	width: 125px;
	text-align: center;
	margin: 10px;
	font-family: Helvetica, Arial, sans-serif;
	color: dimgrey;
}

hr {
  border-style: solid;
  border-color: red;
}

#column1 {
  width: 50%;
  height: 496px;
  object-fit: cover; 
}

#column2 {
  	background-color: gray;
	width: 600px;
	height: 496px;
	text-align: center;
}

#column3 {
  	background-color: pink;
	width: 600px;
	height: 496px;
	text-align: center;
}

#column4 {
  	background-color: green;
	width: 600px;
	height: 496px;
	text-align: center;
}

#column5 {
  	background-color: blue;
	width: 600px;
	height: 496px;
	text-align: center;
}
h1 { 
    color: #fff; 
    font-style: italic;
    font-family: Helvetica, Arial, sans-serif; 
}

h3 { 
    color: #fff; 
    font-family: Helvetica, Arial, sans-serif; 
}

p { 
    color: #fff; 
    font-family: Helvetica, Arial, sans-serif; 
}
