* {
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}

#pagewidth {
	width: 1240px;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px; 
	background: white;
}

.navigationbar {
	height: 60px;
	width: auto;
}

.navigationbar:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.logo {
	float: left;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
	width: 80px;
	text-align: center;
	margin: 40px 40px 10px 40px;
}

a {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: black
}

hr {
  border-style: solid;
  border-color: red;
}

.barcontainer1:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.hero {
	float: left;
}

.mary {
	float: right;
	background-color: pink;
	width: 50%;
	image-rendering: cover;
}

.david {
	float: left;
	width: 50%;
}

.leo {
	float: right;
	width: 50%;
}

.column2 {
	width: 50%;
	height: 496px;
	background-color: dimgrey;
	overflow: hidden;
}

.column2:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.clear {
  	clear: both;
}

.column3 {
  	background-color: pink;
	width: 50%;
	height: 497px;
	text-align: left;
	padding: 30px;
	overflow: hidden;
}

.column3:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.column4 {
  	background-color: green;
	width: 50%;
	height: 501px;
	text-align: left;
	padding: 30px;
	overflow: hidden; 
}

.column4:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.column5 {
  	background-color: blue;
	width: 50%;
	height: 496px;
	text-align: left;
	padding: 30px; 
	overflow: hidden;
}

.column5:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.heroheadline { 
    color: #fff; 
    font-style: bold;
    font-family: Helvetica, Arial, sans-serif;
    padding: 30px; 
    Font-size: 48px;
}

h1 { 
    color: #fff; 
    font-style: normal;
    font-family: Helvetica, Arial, sans-serif;
    Font-size: 32px;
}

h2 { 
    color: #fff; 
    font-family: Helvetica, Arial, sans-serif; 
}

h3 { 
    color: #fff; 
    font-family: Helvetica, Arial, sans-serif; 
}

h4 { 
    color: white; 
    font-family: Helvetica, Arial, sans-serif; 
}

h5 { 
    color: gray; 
    font-family: Helvetica, Arial, sans-serif; 
}

p { 
    color: #fff; 
    font-family: Helvetica, Arial, sans-serif; 
}

.signupbar {
 	background-color: lightblue;
	height: 120px;
	text-align: center;
	padding: 20px;
	overflow: hidden;
}

.signupbar:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.readmore {
 	color: white; 
    font-family: Helvetica, Arial, sans-serif;
}

.footerbar {
	height: 500px;
	width: auto;
	text-align: left;
	padding: 20px;
	overflow: hidden;
	background-color: white;
	border: red;
}

.footerbar:after {
	content: "eric";
	display: block;
	height: 100;
	clear: both;
}
